Repository Emerson1337/agenda-mais: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

fix: finish visual schedule creation
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/main.ts
  frontend/next.config.mjs
  frontend/src/app/(private)/schedule/domain/schedule.schema.ts
  frontend/src/app/(private)/schedule/infrastructure/schedule.api.ts
  frontend/src/app/(private)/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/schedule/presentation/components/DaysExceptionModal.tsx
  frontend/src/app/(private)/schedule/presentation/components/MonthsAheadSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/SchedulesCalendar.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimeRangeSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimesExceptionSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimesSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/WeekdaysCards.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/shared/services/config/config.ts
  frontend/src/shared/types/schedule.ts
  frontend/src/shared/utils/dateUtils.tsx
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

feat: add appointment screen
  frontend/package.json
  frontend/src/app/(private)/dashboard/application/appointment.facade.ts
  frontend/src/app/(private)/dashboard/infrastructure/appointment.api.ts
  frontend/src/app/(public)/[username]/agenda/application/business.facade.ts
  frontend/src/app/(public)/[username]/agenda/application/context/BusinessDataContext.tsx
  frontend/src/app/(public)/[username]/agenda/infrastructure/business.api.ts
  frontend/src/app/(public)/[username]/agenda/page.tsx
  frontend/src/app/(public)/[username]/agenda/presentation/components/HourButton.tsx
  frontend/src/app/(public)/[username]/agenda/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/[username]/agenda/presentation/components/SocialNetwork.tsx
  frontend/src/app/(public)/[username]/agenda/presentation/screens/Appointment.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/screens/Welcome.tsx
  frontend/src/app/(public)/[username]/layout.tsx
  frontend/src/app/(public)/[username]/page.tsx
  frontend/src/components/ui/custom-motion.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/shared/services/config/config.ts
  frontend/src/shared/types/business.ts
  frontend/yarn.lock
Due: yarn testFE:staged

feat: add onboarding flow
  frontend/package.json
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/BusinessIntroduction.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/FillName.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/FillPhoneNumber.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/OnboardingFlow.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/Particles.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/SparklesCore.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/StepOne.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/StepThree.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/components/StepTwo.tsx
  frontend/src/app/(public)/[username]/bem-vindo/presentation/screens/Welcome.tsx
  frontend/src/app/(public)/[username]/page.tsx
  frontend/tailwind.config.ts
  frontend/yarn.lock
Due: yarn testFE:staged

chore: fixed parsing error
  .DS_Store
  frontend/.babelrc
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/yarn.lock
Due: none

fix: solve lint stage file
  .lintstagedrc.json
  frontend/src/shared/services/config/config.ts
Due: yarn testFE:staged

chore: fix dependencies issues
  .lintstagedrc.json
  backend/package.json
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
  package.json
  yarn.lock
Due: none

refactor: move menus to unique component
  frontend/src/app/(private)/dashboard/presentation/components/Header.tsx
  frontend/src/components/ui/menu-items.tsx
  frontend/src/components/ui/sidebar.tsx
Due: none

feat: add appointments table
  frontend/src/app/(private)/agenda/page.tsx
  frontend/src/app/(private)/agenda/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/agendamentos/application/appointment.facade.ts
  frontend/src/app/(private)/agendamentos/infrastructure/appointment.api.ts
  frontend/src/app/(private)/agendamentos/page.tsx
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/dashboard/presentation/components/TopClients.tsx
  frontend/src/components/ui/form.tsx
Due: yarn testFE:staged

feat: add relation for getting appointments
  backend/src/domain/entities/appointment.entity.ts
  backend/src/infra/database/typeorm/entities/appointments-db.entity.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add list opened appointments
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  frontend/src/app/(private)/agendamentos/application/appointment.facade.ts
  frontend/src/app/(private)/agendamentos/application/hooks/useAppointment.ts
  frontend/src/app/(private)/agendamentos/infrastructure/appointment.api.ts
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/shared/types/appointment.ts
  frontend/src/shared/utils/numberUtils.tsx
  frontend/src/shared/utils/stringUtils.tsx
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

feat: add details modal
  frontend/src/app/(private)/agendamentos/infrastructure/appointment.api.ts
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/shared/types/appointment.ts
Due: yarn testFE:staged

feat: add whatsapp service
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/shared/services/whatsapp.service.ts
Due: yarn testFE:staged

feat: add cancel appointment from dashboard feature
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/schedules/dtos/delete-appointment.dto.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/entities/enums/appointment-status.enum.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
  backend/src/presentation/locale/i18n/enUS/translations.json
  backend/src/presentation/locale/i18n/ptBR/translations.json
  frontend/src/app/(private)/agenda/infrastructure/schedule.api.ts
  frontend/src/app/(private)/agendamentos/application/hooks/useAppointment.ts
  frontend/src/app/(private)/agendamentos/application/hooks/useAppointmentMutation.ts
  frontend/src/app/(private)/agendamentos/infrastructure/appointment.api.ts
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/dashboard/application/appointment.facade.ts
  frontend/src/app/(private)/dashboard/application/hooks/useGetManager.ts
  frontend/src/app/(private)/dashboard/infrastructure/appointment.api.ts
  frontend/src/app/(private)/dashboard/infrastructure/manager.api.ts
  frontend/src/app/(private)/dashboard/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/layout.tsx
  frontend/src/app/(private)/page.tsx
  frontend/src/app/(private)/utils/context/BusinessDataContext.tsx
  frontend/src/app/(public)/b/[username]/appointment/infrastructure/business.api.ts
  frontend/src/app/(public)/b/[username]/appointment/infrastructure/times-available.api.ts
  frontend/src/lib/apiUrls.ts
  frontend/src/shared/types/me.ts
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

fix: show most important columns
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
Due: none

fix: use cache when deleting
  backend/src/application/schedules/schedules.service.ts
  frontend/src/app/(private)/agendamentos/application/hooks/useAppointmentMutation.ts
  frontend/src/app/(private)/agendamentos/infrastructure/appointment.api.ts
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

refactor: rename facades to hooks
  frontend/src/app/(public)/b/[username]/appointment/application/hooks/useGetBusiness.ts
  frontend/src/app/(public)/b/[username]/appointment/application/hooks/useGetTimesAvailable.ts
  frontend/src/app/(public)/b/[username]/appointment/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/page.tsx
Due: yarn testFE:staged

fix: adjust layout provider
  frontend/src/app/(public)/b/[username]/appointment/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/layout.tsx
  frontend/src/app/(public)/b/[username]/page.tsx
  frontend/src/app/(public)/b/[username]/utils/context/BusinessDataContext.tsx
Due: none

feat: save user information on local storage
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/dashboard/page.tsx
  frontend/src/app/(private)/dashboard/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Orders.tsx
  frontend/src/app/(public)/b/[username]/agendar/application/hooks/useGetBusiness.ts
  frontend/src/app/(public)/b/[username]/agendar/application/hooks/useGetTimesAvailable.ts
  frontend/src/app/(public)/b/[username]/agendar/infrastructure/business.api.ts
  frontend/src/app/(public)/b/[username]/agendar/infrastructure/times-available.api.ts
  frontend/src/app/(public)/b/[username]/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/HourButton.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/SocialNetwork.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/screens/Appointment.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/FillName.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/FillPhoneNumber.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/OnboardingFlow.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/StepThree.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/StepTwo.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/screens/Welcome.tsx
  frontend/src/app/(public)/b/[username]/utils/context/BusinessDataContext.tsx
  frontend/src/components/ui/form.tsx
Due: yarn testFE:staged

fix: add absolute value
  frontend/src/app/(public)/b/[username]/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/screens/Appointment.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/OnboardingFlow.tsx
  frontend/tsconfig.json
Due: none

fix plenty of things
  backend/.env
  backend/src/application/auth/guard/jwt-auth.guard.ts
  backend/src/application/shared/utils/frontendPathGenerator.ts
  backend/src/presentation/http/controllers/auth.controller.ts
  backend/src/presentation/http/controllers/booking-manager-admin.controller.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
  backend/src/presentation/http/controllers/manager-services.controller.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
  backend/src/presentation/http/controllers/sales-report.controller.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
  frontend/src/app/(private)/agenda/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/agenda/presentation/components/SchedulesCalendar.tsx
  frontend/src/app/(private)/agenda/presentation/components/TimesSelector.tsx
  frontend/src/app/(private)/utils/context/BusinessDataContext.tsx
  frontend/src/app/(public)/b/[username]/agendar/infrastructure/business.api.ts
  frontend/src/app/(public)/b/[username]/agendar/infrastructure/times-available.api.ts
  frontend/src/app/(public)/b/[username]/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/screens/Appointment.tsx
  frontend/src/app/(public)/b/[username]/layout.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/components/OnboardingFlow.tsx
  frontend/src/app/(public)/b/[username]/onboarding/presentation/screens/Welcome.tsx
  frontend/src/app/(public)/b/[username]/page.tsx
  frontend/src/app/(public)/b/[username]/utils/context/BusinessDataContext.tsx
  frontend/src/app/(public)/layout.tsx
  frontend/src/components/ui/custom-motion.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/server-actions/bookAppointment.ts
  frontend/src/server-actions/fetchAvailableTimes.ts
  frontend/src/server-actions/fetchBusinessData.ts
  frontend/src/shared/services/config/config.ts
  frontend/src/shared/types/business.ts
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

import react
  frontend/src/app/(private)/agenda/presentation/components/DaysExceptionModal.tsx
  frontend/src/components/ui/modal.tsx
Due: none

improve dates
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
Due: none

fix path imports
  frontend/src/app/(public)/b/[username]/agendar/application/hooks/useGetBusiness.ts
  frontend/src/app/(public)/b/[username]/agendar/application/hooks/useGetTimesAvailable.ts
Due: yarn testFE:staged

finish booking appointment feature
  backend/src/application/public-routes/appointments.service.ts
  backend/src/presentation/locale/i18n/enUS/translations.json
  backend/src/presentation/locale/i18n/ptBR/translations.json
  frontend/src/app/(public)/b/[username]/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/ChooseService.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/screens/Appointment.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toggle-group.tsx
  frontend/src/server-actions/bookAppointment.ts
  frontend/src/server-actions/fetchAvailableTimes.ts
  frontend/src/shared/services/whatsapp.service.ts
  frontend/src/shared/types/appointment.ts
  frontend/src/shared/types/times-available.ts
  frontend/src/shared/utils/dateUtils.ts
  frontend/src/shared/utils/errorParser.ts
  frontend/src/shared/utils/numberUtils.ts
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

add confirm information before booking
  backend/src/application/public-routes/dtos/create-appointment-dto.ts
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/ChooseService.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
Due: yarn lint:backend, yarn testBE:staged

improve sidebar
  frontend/src/app/(private)/agenda/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/agendamentos/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Header.tsx
  frontend/src/app/(private)/layout.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/BookAppointment.tsx
  frontend/src/components/ui/menu-items.tsx
  frontend/src/components/ui/theme-toggle.tsx
Due: none

improve code and styles
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/ChooseService.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
  frontend/src/shared/types/times-available.ts
Due: yarn testFE:staged

fix visual issues
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
Due: none

remove console lo
  backend/src/application/auth/guard/jwt-auth.guard.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add phone history backend
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/application/schedules/schedules.module.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/repositories/sales-report.repository.ts
  backend/src/infra/database/typeorm/repositories/sales-report-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

remove theme button from sidebar
  frontend/src/components/ui/menu-items.tsx
Due: none

add appointment history
  frontend/package.json
  frontend/src/app/(public)/b/[username]/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/components/ScheduleOptions.tsx
  frontend/src/app/(public)/b/[username]/historico/application/hooks/useGetPhoneHistory.ts
  frontend/src/app/(public)/b/[username]/historico/infrastructure/phone-history.api.ts
  frontend/src/app/(public)/b/[username]/historico/page.tsx
  frontend/src/app/(public)/b/[username]/historico/presentation/components/AppointmentsTimeLine.tsx
  frontend/src/app/(public)/b/[username]/historico/presentation/screens/AppointmentsHistory.tsx
  frontend/src/app/(public)/b/[username]/layout.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/menubar.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/lib/hooks.ts
  frontend/src/server-actions/fetchPhoneHistory.ts
  frontend/yarn.lock
Due: yarn testFE:staged

save service information on reports
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/sales-report/dtos/create-update-sales-report-dto.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/entities/sales-report.entity.ts
  backend/src/infra/database/typeorm/entities/sales-report-db.entity.ts
  backend/src/infra/database/typeorm/repositories/sales-report-db.repository.ts
Due: yarn lint:backend, yarn testBE:staged

add pagination and history
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/domain/repositories/sales-report.repository.ts
  backend/src/infra/database/typeorm/repositories/sales-report-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
  frontend/package.json
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/application/hooks/useGetBusiness.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/infrastructure/business.api.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/ChooseService.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/HourButton.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/SocialNetwork.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/screens/Appointment.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/application/hooks/useGetPhoneHistory.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/infrastructure/phone-history.api.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/page.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/presentation/components/AppointmentsTimeLine.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/presentation/screens/AppointmentsHistory.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/layout.tsx
  frontend/src/app/(public)/b/[username]/agendar/application/hooks/useGetTimesAvailable.ts
  frontend/src/app/(public)/b/[username]/agendar/infrastructure/times-available.api.ts
  frontend/src/app/(public)/b/[username]/historico/infrastructure/phone-history.api.ts
  frontend/src/app/(public)/b/[username]/historico/presentation/components/AppointmentsTimeLine.tsx
  frontend/src/app/(public)/b/[username]/historico/presentation/screens/AppointmentsHistory.tsx
  frontend/src/app/(public)/b/[username]/layout.tsx
  frontend/src/components/ui/badge-status.tsx
  frontend/src/server-actions/fetchPhoneHistory.ts
  frontend/src/shared/utils/statusParser.ts
  frontend/yarn.lock
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

add client name when creating sales report
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/sales-report/dtos/create-update-sales-report-dto.ts
  backend/src/application/sales-report/sales-report.service.ts
Due: yarn lint:backend, yarn testBE:staged

add cancel appointment
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/dtos/type.ts
  backend/src/application/sales-report/dtos/create-update-sales-report-dto.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/entities/sales-report.entity.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/infra/database/typeorm/entities/sales-report-db.entity.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
  frontend/src/api/bookAppointment.ts
  frontend/src/api/cancelAppointment.ts
  frontend/src/api/fetchAvailableTimes.ts
  frontend/src/api/fetchBusinessData.ts
  frontend/src/api/fetchPhoneHistory.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/infrastructure/business.api.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/page.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/BookAppointment.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/LayoutOne.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/cancelar/page.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/cancelar/presentation/components/CancelAppointmentForm.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/cancelar/presentation/screens/CancelAppointment.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/infrastructure/phone-history.api.ts
  frontend/src/app/(public)/b/[username]/(onboarded)/historico/presentation/components/AppointmentsTimeLine.tsx
  frontend/src/app/(public)/b/[username]/layout.tsx
  frontend/src/components/ui/badge-status.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/shared/utils/statusParser.ts
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

finish cancel appointment
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/ChooseService.tsx
  frontend/src/app/(public)/b/[username]/(onboarded)/agendar/presentation/components/LayoutOne.tsx
Due: none

remove layers and make architecture simpler
  frontend/src/app/(private)/dashboard/api/manager.api.ts
  frontend/src/app/(private)/dashboard/components/GoalCard.tsx
  frontend/src/app/(private)/dashboard/components/Header.tsx
  frontend/src/app/(private)/dashboard/components/Orders.tsx
  frontend/src/app/(private)/dashboard/components/Test.tsx
  frontend/src/app/(private)/dashboard/components/TopClients.tsx
  frontend/src/app/(private)/dashboard/components/TotalAppointments.tsx
  frontend/src/app/(private)/dashboard/components/TotalAppointmentsFinished.tsx
  frontend/src/app/(private)/dashboard/components/TotalAppointmentsScheduled.tsx
  frontend/src/app/(private)/dashboard/components/TotalRevenue.tsx
  frontend/src/app/(private)/dashboard/hooks/useGetManager.ts
  frontend/src/app/(private)/dashboard/page.tsx
  frontend/src/app/(private)/layout.tsx
  frontend/src/app/(private)/utils/context/BusinessDataContext.tsx
Due: yarn testFE:staged

remove layers and make architecture simpler
  frontend/src/app/(private)/agendamentos/api/appointment.api.ts
  frontend/src/app/(private)/agendamentos/components/AppointmentsList.tsx
  frontend/src/app/(private)/agendamentos/hooks/useAppointment.ts
  frontend/src/app/(private)/agendamentos/hooks/useAppointmentMutation.ts
  frontend/src/app/(private)/agendamentos/page.tsx
Due: yarn testFE:staged

Path conditions:
  yarn lint:backend: any of: ./backend/**/*.ts
  yarn testBE:staged: any of: ./backend/**/*.ts
  yarn testFE:staged: any of: ./frontend/**/*.ts
