Repository Emerson1337/agenda-mais: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

fix: add valid stack
  backend/src/presentation/errors/exceptions/class-validator-factory.exception.ts
Due: yarn lint:backend, yarn testBE:staged

Rename PULL_REQUEST_TEMPLATE.md to pull_request_template.md
  .gitub/pull_request_template.md
Due: none

refactor: add filter by date when fetching available times
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: rename file and remove copy at the end
  backend/src/domain/entities/schedules.entity.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/entities/schedules-db.entity.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
Due: yarn lint:backend, yarn testBE:staged

fix: solve bug with error formatter
  backend/src/presentation/errors/exceptions/class-validator-factory.exception.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add services CRUD
  backend/src/app.module.ts
  backend/src/application/manager-services/dtos/create-update-manager-service.dto.ts
  backend/src/application/manager-services/manager-services.module.ts
  backend/src/application/manager-services/manager-services.service.ts
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/entities/manager-services.entity.ts
  backend/src/domain/repositories/manager-services.repository.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/typeorm/entities/manager-service-db.entity.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/infra/database/typeorm/repositories/manager-services-db.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/src/presentation/errors/exceptions/class-validator-factory.exception.ts
  backend/src/presentation/http/controllers/manager-services.controller.ts
Due: yarn lint:backend, yarn testBE:staged

refactor: add times path to get times
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add show manager data as business
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/domain/repositories/manager-services.repository.ts
  backend/src/infra/database/typeorm/repositories/manager-services-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: list appointments on dashboard
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add book appointment and refactor schedules parameters
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/application/public-routes/dtos/create-appointment-dto.ts
  backend/src/application/public-routes/public-routes.module.ts
  backend/src/application/schedules/dtos/create-schedule.dto.ts
  backend/src/application/shared/utils/dataGenerator.ts
  backend/src/domain/entities/appointment.entity.ts
  backend/src/domain/entities/schedules.entity.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/typeorm/entities/appointments-db.entity.ts
  backend/src/infra/database/typeorm/entities/schedules-db.entity.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/infra/database/typeorm/repositories/manager-services-db.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: add mongoid validator
  backend/src/application/public-routes/dtos/create-appointment-dto.ts
  backend/src/application/schedules/dtos/create-schedule.dto.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add delete schedules by array of ids
  backend/src/application/schedules/dtos/delete-schedule.dto.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/application/shared/decorators/array-valid-mongoid.decorator.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/entities/schedules-db.entity.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
Due: yarn lint:backend, yarn testBE:staged

refactor: make parameters an object instead of mulitple params
  backend/src/application/auth/auth.service.ts
  backend/src/application/auth/dtos/login-dto.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/application/schedules/dtos/delete-schedule.dto.ts
  backend/src/application/schedules/dtos/schedules.dto.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/presentation/http/controllers/auth.controller.ts
  backend/src/presentation/http/controllers/booking-manager-admin.controller.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add feature to cancel appointment by code
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/dtos/create-appointment-dto.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/entities/appointments-db.entity.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: translate endpoints and fix issue with list appointments
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/presentation/http/controllers/auth.controller.ts
  backend/src/presentation/http/controllers/booking-manager-admin.controller.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
  backend/src/presentation/http/controllers/manager-services.controller.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add i18n library to translate error messages
  .vscode/settings.json
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/application/auth/auth.module.ts
  backend/src/application/auth/auth.service.ts
  backend/src/application/booking-managers/booking-managers.module.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/booking-managers/dtos/upload-picture-manager-dto.ts
  backend/src/application/manager-services/manager-services.module.ts
  backend/src/application/manager-services/manager-services.service.ts
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/application/public-routes/public-routes.module.ts
  backend/src/application/schedules/schedules.module.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/application/shared/decorators/array-valid-mongoid.decorator.ts
  backend/src/application/shared/decorators/match.decorator.ts
  backend/src/application/shared/dtos/file.dto.ts
  backend/src/application/shared/dtos/success-message.dto.ts
  backend/src/main.ts
  backend/src/presentation/locale/i18n/enUS/translations.json
  backend/src/presentation/locale/i18n/ptBR/translations.json
  backend/src/presentation/locale/locale.module.ts
  backend/yarn.lock
  yarn.lock
Due: yarn lint:backend, yarn testBE:staged

fix: solve issue with error message for password and email
  backend/src/application/auth/auth.service.ts
  backend/src/presentation/locale/i18n/ptBR/translations.json
Due: yarn lint:backend, yarn testBE:staged

feat: add endpoint to return all sales by date in the month, fix bugs
  backend/src/app.module.ts
  backend/src/application/manager-services/dtos/create-update-manager-service.dto.ts
  backend/src/application/manager-services/manager-services.service.ts
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/application/public-routes/dtos/create-appointment-dto.ts
  backend/src/application/public-routes/public-routes.module.ts
  backend/src/application/sales-report/dtos/create-sales-report-dto.ts
  backend/src/application/sales-report/sales-report.module.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/domain/entities/appointment.entity.ts
  backend/src/domain/entities/enums/appointment-status.enum.ts
  backend/src/domain/entities/manager-services.entity.ts
  backend/src/domain/entities/sales-report.entity.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/domain/repositories/manager-services.repository.ts
  backend/src/domain/repositories/sales-report.repository.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/typeorm/entities/appointments-db.entity.ts
  backend/src/infra/database/typeorm/entities/manager-service-db.entity.ts
  backend/src/infra/database/typeorm/entities/sales-report-db.entity.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/infra/database/typeorm/repositories/manager-services-db.repository.ts
  backend/src/infra/database/typeorm/repositories/sales-report-db.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/src/presentation/helpers/http.helper.ts
  backend/src/presentation/http/controllers/sales-report.controller.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
  backend/tsconfig.json
  frontend/yarn.lock
Due: yarn lint:backend, yarn testBE:staged

fix: configure sidebar
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/presentation/components/Header.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/lib/hooks.ts
  frontend/src/lib/utils.ts
Due: yarn testFE:staged

feat: add tanstack query and patterns to follow
  frontend/components.json
  frontend/package.json
  frontend/src/app/dashboard/application/appointment.facade.ts
  frontend/src/app/dashboard/infrasctructure/appointment.api.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/presentation/components/Header.tsx
  frontend/src/app/dashboard/presentation/components/Orders.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/app/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/schedule/presentation/components/SchedulesCalendar.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/toggle-group.tsx
  frontend/src/components/ui/toggle.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/shared/lib/apiUrls.ts
  frontend/src/shared/lib/hooks.ts
  frontend/src/shared/lib/utils.ts
  frontend/src/shared/services/config/config.ts
  frontend/src/shared/services/service.ts
  frontend/src/shared/types/appointment.ts
  frontend/src/shared/util/Providers.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Due: yarn testFE:staged

fix: remove tests script for FE since it wont have
  .lintstagedrc.json
  package.json
Due: none

feat: finish create schedule feature
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  frontend/components.json
  frontend/package.json
  frontend/src/app/dashboard/infrasctructure/appointment.api.ts
  frontend/src/app/dashboard/presentation/components/Header.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/schedule/domain/schedule.schema.ts
  frontend/src/app/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/schedule/presentation/components/DaysExceptionModal.tsx
  frontend/src/app/schedule/presentation/components/SchedulesCalendar.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/toggle-group.tsx
  frontend/src/components/ui/toggle.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/lib/hooks.ts
  frontend/src/lib/utils.ts
  frontend/src/shared/utils/Providers.tsx
  frontend/src/shared/utils/dateUtils.tsx
  frontend/src/shared/utils/stringUtils.tsx
  frontend/yarn.lock
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

refactor: finishing login page and move some files to other paths
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(private)/dashboard/application/appointment.facade.ts
  frontend/src/app/(private)/dashboard/infrasctructure/appointment.api.ts
  frontend/src/app/(private)/dashboard/page.tsx
  frontend/src/app/(private)/dashboard/presentation/components/AppointmentsList.tsx
  frontend/src/app/(private)/dashboard/presentation/components/GoalCard.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Header.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Orders.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Test.tsx
  frontend/src/app/(private)/dashboard/presentation/components/TopClients.tsx
  frontend/src/app/(private)/dashboard/presentation/components/TotalAppointments.tsx
  frontend/src/app/(private)/dashboard/presentation/components/TotalAppointmentsFinished.tsx
  frontend/src/app/(private)/dashboard/presentation/components/TotalAppointmentsScheduled.tsx
  frontend/src/app/(private)/dashboard/presentation/components/TotalRevenue.tsx
  frontend/src/app/(private)/layout.tsx
  frontend/src/app/(private)/page.tsx
  frontend/src/app/(private)/schedule/page.tsx
  frontend/src/app/(private)/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/schedule/presentation/components/SchedulesCalendar.tsx
Due: yarn testFE:staged

feat: add toastify
  frontend/package.json
  frontend/yarn.lock
Due: none

refactor: select all times automatically
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Orders.tsx
  frontend/src/app/(private)/layout.tsx
  frontend/src/app/(private)/schedule/application/hooks/useScheduleMutation.ts
  frontend/src/app/(private)/schedule/domain/schedule.schema.ts
  frontend/src/app/(private)/schedule/infrastructure/schedule.api.ts
  frontend/src/app/(private)/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/schedule/presentation/components/DaysExceptionModal.tsx
  frontend/src/components/ui/alert-pop-up.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/lib/apiUrls.ts
  frontend/src/shared/types/schedule.ts
  frontend/src/shared/utils/Providers.tsx
  frontend/src/shared/utils/dateUtils.tsx
  frontend/tsconfig.json
Due: yarn testFE:staged

fix: update icons and text colors
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(private)/dashboard/presentation/components/Header.tsx
  frontend/src/app/(private)/layout.tsx
  frontend/src/app/(private)/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/schedule/presentation/components/DaysExceptionModal.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/shared/utils/Providers.tsx
  frontend/src/shared/utils/dateUtils.tsx
Due: none

feat: refactor whole schedule screen and make it more readable
  frontend/src/app/(private)/schedule/domain/schedule.schema.ts
  frontend/src/app/(private)/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimeRangeSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimesExceptionList.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimesExceptionSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/TimesSelector.tsx
  frontend/src/app/(private)/schedule/presentation/components/WeekdaysCards.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/shared/types/schedule.ts
Due: yarn testFE:staged

fix: solve types and spacings
  frontend/src/app/(private)/schedule/presentation/components/CreateSchedule.tsx
  frontend/src/app/(private)/schedule/presentation/components/DaysExceptionModal.tsx
Due: none

fix: disable past dates
  frontend/src/app/(private)/schedule/presentation/components/SchedulesCalendar.tsx
  frontend/src/shared/utils/dateUtils.tsx
Due: none

fix: remove useless use client
  frontend/src/app/(private)/schedule/domain/schedule.schema.ts
Due: yarn testFE:staged

fix: set calendar icon on side bar menu
  frontend/src/app/(private)/dashboard/presentation/components/Header.tsx
Due: none

chore: add date-fns library
  backend/package.json
  backend/yarn.lock
Due: none

refactor: adapt schedules creation and appointments booking
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/dates.service.ts
  backend/src/application/public-routes/dtos/create-appointment-dto.ts
  backend/src/application/public-routes/public-routes.module.ts
  backend/src/application/sales-report/dtos/create-sales-report-dto.ts
  backend/src/application/sales-report/dtos/create-update-sales-report-dto.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/application/schedules/dtos/create-schedule.dto.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/application/shared/decorators/time-array-validator.decorator.ts
  backend/src/domain/entities/appointment.entity.ts
  backend/src/domain/entities/sales-report.entity.ts
  backend/src/domain/entities/schedules.entity.ts
  backend/src/domain/repositories/appointments.repository.ts
  backend/src/domain/repositories/sales-report.repository.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/entities/appointments-db.entity.ts
  backend/src/infra/database/typeorm/entities/sales-report-db.entity.ts
  backend/src/infra/database/typeorm/entities/schedules-db.entity.ts
  backend/src/infra/database/typeorm/repositories/appointments-db.repository.ts
  backend/src/infra/database/typeorm/repositories/manager-services-db.repository.ts
  backend/src/infra/database/typeorm/repositories/sales-report-db.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

refactor: move types to file
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/booking-managers/dtos/types.ts
Due: yarn lint:backend, yarn testBE:staged

refactor: move types to file
  backend/src/application/manager-services/dtos/types.ts
  backend/src/application/manager-services/manager-services.service.ts
  backend/src/application/public-routes/appointments.service.ts
  backend/src/application/public-routes/dtos/type.ts
Due: yarn lint:backend, yarn testBE:staged

refactor: move types to file
  backend/src/application/sales-report/dtos/types.ts
  backend/src/application/sales-report/sales-report.service.ts
  backend/src/application/schedules/dtos/types.ts
  backend/src/application/schedules/schedules.service.ts
Due: yarn lint:backend, yarn testBE:staged

refactor: use absolute path instead of relatives
  backend/src/application/public-routes/appointments.service.ts
Due: yarn lint:backend, yarn testBE:staged

Path conditions:
  yarn lint:backend: any of: ./backend/**/*.ts
  yarn testBE:staged: any of: ./backend/**/*.ts
  yarn testFE:staged: any of: ./frontend/**/*.ts
