Repository Emerson1337/agenda-mais: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

chore: configure database
  backend/.env.example
  backend/src/infra/database/database.module.ts
  docker-compose.yaml
  docker-entrypoint-initdb.d/mongo-init.js
Due: yarn lint:backend, yarn testBE:staged

doc: update readme and show how to run the app
  README.md
Due: none

fix: remove useless database configurations
  backend/db/development_db.yml
  backend/ormconfig.js
  backend/scripts/start-dev-db.sh
Due: none

doc: Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

refactor: change package manager to yarn
  .husky/pre-commit
  backend/README.md
  backend/package-lock.json
  docker-compose.yaml
  frontend/package-lock.json
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: remove package lock from frontend
  frontend/package-lock.json
Due: none

fix: change npm to yarn
  backend/README.md
  docker-compose.yaml
Due: none

chore: add mongodb driver for typeorm
  backend/package.json
  backend/yarn.lock
  frontend/yarn.lock
Due: none

chore: configure frontend to run
  frontend/README.md
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

chore: configure database and remove useless files
  backend/.env
  backend/.eslintrc.js
  backend/.gitignore
  backend/README.md
  backend/jest.config.ts
  backend/nest-cli.json
  backend/ormconfig.ts
  backend/package.json
  backend/src/app.module.ts
  backend/src/application/use-cases/tea/mocks/TeaRepositoryStub.ts
  backend/src/application/use-cases/tea/mocks/factories.ts
  backend/src/application/use-cases/tea/repositories/tea.repository.ts
  backend/src/application/use-cases/tea/tea.service.ts
  backend/src/application/use-cases/tea/tea.spec.ts
  backend/src/domain/entities/coffee.entity.ts
  backend/src/domain/entities/config/base.entity.ts
  backend/src/domain/entities/tea.entity.ts
  backend/src/infra/adapters/fileAdapter/file.adapter.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/typeorm/entities/coffee.entity.ts
  backend/src/infra/database/typeorm/entities/config/base.entity.ts
  backend/src/infra/database/typeorm/migrations/1685761186939-CreateCoffeesTable.ts
  backend/src/infra/database/typeorm/migrations/1685816932840-CreateTeasTable.ts
  backend/src/infra/database/typeorm/repositories/coffee.repository.ts
  backend/src/infra/database/typeorm/repositories/tea.repository.ts
  backend/src/main.ts
  backend/src/presentation/http/controllers/coffee.controller.ts
  backend/src/presentation/http/controllers/coffee/coffee.controller.ts
  backend/src/presentation/http/controllers/tea/tea.controller.ts
  backend/src/presentation/http/http.module.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/README.md
Due: yarn lint:backend, yarn testBE:staged

feat: configure dotenv on dev environment
  backend/.env.example
Due: none

fix: solve issue with application running on container
  Dockerfile
  backend/.env
  backend/yarn.lock
  docker-compose.yaml
  yarn.lock
Due: none

chore: update git ignore
  .gitignore
  yarn.lock
Due: none

chore: configure project setup
  .gitignore
  .husky/pre-commit
  README.md
  backend/.env
  backend/jest.config.ts
  backend/ormconfig.ts
  backend/package.json
  backend/src/application/dtos/create-product-dto.ts
  backend/src/application/use-cases/coffee/coffee.spec.ts
  backend/src/application/use-cases/coffee/mocks/factories.ts
  backend/src/domain/entities/coffee.entity.ts
  backend/src/domain/entities/config/base.entity.ts
  backend/src/domain/validators/product.validator.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/prisma/prisma.service.ts
  backend/src/infra/database/prisma/repositories/coffee.repository.ts
  backend/src/infra/database/prisma/schema.prisma
  backend/src/infra/database/typeorm/entities/coffee.entity.ts
  backend/src/infra/database/typeorm/entities/config/base.entity.ts
  backend/src/presentation/http/controllers/coffee.controller.ts
  backend/yarn.lock
  docker-compose.yaml
  docker-entrypoint-initdb.d/mongo-init.js
  frontend/src/app/coffees/domain/coffee.spec.ts
  frontend/src/app/coffees/domain/coffee.ts
  frontend/src/app/teas/domain/tea.spec.ts
  frontend/src/app/teas/domain/tea.ts
  local-dev/mongodb/dev_db.yml
  local-dev/mongodb/init-mongo.js
  local-dev/start_dev_db.sh
  package.json
  yarn.lock
Due: yarn lint:backend, yarn testBE:staged, yarn testFE:staged

docs: update readme
  README.md
Due: none

chore: configure typeorm
  backend/.env
  backend/ormconfig.ts
  backend/package.json
  backend/src/domain/entities/config/base.entity.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/typeorm/entities/coffee.entity.ts
  backend/src/infra/database/typeorm/entities/config/base.entity.ts
  backend/src/infra/database/typeorm/repositories/coffee.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/yarn.lock
Due: yarn lint:backend, yarn testBE:staged

chore: add class-validator and class-transformer
  backend/.gitignore
  backend/package.json
  backend/yarn.lock
Due: none

feat: configure project architecture and create manager creation feature
  backend/.env
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/booking-managers/booking-managers.spec.ts
  backend/src/application/booking-managers/dtos/create-update-manager-dto.ts
  backend/src/application/booking-managers/mocks/BookingManagerRepositoryStub.ts
  backend/src/application/booking-managers/mocks/factories.ts
  backend/src/application/dtos/create-product-dto.ts
  backend/src/application/use-cases/coffee/coffee.service.ts
  backend/src/application/use-cases/coffee/coffee.spec.ts
  backend/src/application/use-cases/coffee/mocks/CoffeeRepositoryStub.ts
  backend/src/application/use-cases/coffee/mocks/factories.ts
  backend/src/application/use-cases/coffee/repositories/coffee.repository.ts
  backend/src/domain/entities/booking-managers.entity.ts
  backend/src/domain/entities/coffee.entity.ts
  backend/src/domain/entities/enums/managers-status.enum.ts
  backend/src/domain/repositories/booking-managers.repository.ts
  backend/src/domain/validators/product.validator.ts
  backend/src/domain/validators/validator.interface.ts
  backend/src/domain/validators/validator.module.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/prisma/repositories/booking-managers-db.repository.ts
  backend/src/infra/database/prisma/repositories/coffee.repository.ts
  backend/src/infra/database/prisma/schema.prisma
  backend/src/infra/database/typeorm/entities/booking-managers-db.entity.ts
  backend/src/infra/database/typeorm/entities/coffee.entity.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/infra/database/typeorm/repositories/coffee.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/src/main.ts
  backend/src/presentation/errors/error-codes.ts
  backend/src/presentation/errors/invalid-param-error.ts
  backend/src/presentation/errors/missing-param-error.ts
  backend/src/presentation/errors/server-error.ts
  backend/src/presentation/helpers/http.helper.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
  backend/src/presentation/http/controllers/coffee.controller.ts
  backend/src/presentation/http/http.module.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add authentication by email and password
  backend/.env
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/application/auth/auth.module.ts
  backend/src/application/auth/auth.service.ts
  backend/src/application/auth/dtos/login-dto.ts
  backend/src/application/auth/dtos/token-dto.ts
  backend/src/application/auth/dtos/user-dto.ts
  backend/src/application/booking-managers/booking-managers.module.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/domain/entities/booking-managers.entity.ts
  backend/src/domain/repositories/booking-managers.repository.ts
  backend/src/infra/adapters/encrypt.adapter.ts
  backend/src/infra/adapters/file.adapter.ts
  backend/src/infra/adapters/token.adapter.ts
  backend/src/infra/database/typeorm/entities/booking-managers-db.entity.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/presentation/http/controllers/auth.controller.ts
  backend/src/presentation/http/http.module.ts
  backend/yarn.lock
  yarn.lock
Due: yarn lint:backend, yarn testBE:staged

fix: format errors
  backend/src/application/auth/auth.service.ts
  backend/src/presentation/errors/error-codes.ts
  backend/src/presentation/errors/invalid-param-error.ts
  backend/src/presentation/errors/missing-param-error.ts
  backend/src/presentation/errors/server-error.ts
  backend/src/presentation/errors/unauthorized-error.ts
  backend/src/presentation/helpers/http.helper.ts
  backend/src/presentation/http/controllers/auth.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: add middleware to validate routes authenticated
  backend/src/application/auth/auth.module.ts
  backend/src/application/auth/auth.service.ts
  backend/src/application/auth/decorators/auth-required.decorator.ts
  backend/src/application/auth/guard/jwt-auth.guard.ts
  backend/src/presentation/errors/invalid-param-error.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add update manager data
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/domain/repositories/booking-managers.repository.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: remove console logs
  backend/src/infra/adapters/file.adapter.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add roles, plan and list users by permission
  backend/src/application/auth/auth.service.ts
  backend/src/application/auth/dtos/user-dto.ts
  backend/src/application/auth/guard/jwt-auth.guard.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/booking-managers/dtos/create-update-manager-dto.ts
  backend/src/application/shared/decorators/auth-plan-required.decorator.ts
  backend/src/application/shared/decorators/auth-required.decorator.ts
  backend/src/application/shared/decorators/auth-roles-required.decorator.ts
  backend/src/domain/entities/booking-managers.entity.ts
  backend/src/domain/entities/enums/managers-plans.enum.ts
  backend/src/domain/entities/enums/managers-roles.enum.ts
  backend/src/infra/database/typeorm/entities/booking-managers-db.entity.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add admin features such as update managers plans
  backend/src/application/auth/auth.service.ts
  backend/src/application/auth/dtos/token-dto.ts
  backend/src/application/auth/dtos/user-dto.ts
  backend/src/application/booking-managers/booking-managers.module.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/booking-managers/dtos/create-manager-dto.ts
  backend/src/application/booking-managers/dtos/update-manager-admin-dto.ts
  backend/src/application/booking-managers/dtos/update-manager-dto.ts
  backend/src/domain/repositories/booking-managers.repository.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/presentation/http/controllers/booking-manager-admin.controller.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: remove password from login list
  backend/src/application/auth/auth.service.ts
  backend/src/application/booking-managers/booking-managers.service.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add upload picture feature
  backend/.gitignore
  backend/package.json
  backend/src/application/booking-managers/booking-managers.module.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/booking-managers/dtos/upload-picture-manager-dto.ts
  backend/src/application/shared/dtos/filte.dto.ts
  backend/src/domain/repositories/booking-managers.repository.ts
  backend/src/infra/adapters/file.adapter.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/main.ts
  backend/src/presentation/http/controllers/booking-manager.controller.ts
  backend/yarn.lock
Due: yarn lint:backend, yarn testBE:staged

feat: add reset password feature
  backend/.env
  backend/package.json
  backend/src/application/auth/auth.module.ts
  backend/src/application/auth/auth.service.ts
  backend/src/application/auth/dtos/forgot-password-dto.ts
  backend/src/application/auth/dtos/reset-password-dto.ts
  backend/src/application/auth/dtos/token-dto.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/shared/decorators/match.decorator.ts
  backend/src/application/shared/utils/frontendPathGenerator.ts
  backend/src/application/shared/utils/generateHtml.ts
  backend/src/domain/entities/reset-password-tokens.entity.ts
  backend/src/domain/repositories/booking-managers.repository.ts
  backend/src/domain/repositories/reset-password-tokens.repository.ts
  backend/src/infra/adapters/mail-sender.adapter.ts
  backend/src/infra/adapters/token.adapter.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/typeorm/entities/reset-password-tokens-db.entity.ts
  backend/src/infra/database/typeorm/repositories/booking-managers-db.repository.ts
  backend/src/infra/database/typeorm/repositories/reset-password-tokens-db.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/src/presentation/http/controllers/auth.controller.ts
  backend/views/images/image-1.png
  backend/views/layouts/main.hbs
  backend/views/partials/dashboard_nav.hbs
  backend/views/partials/footer.hbs
  backend/views/partials/forgot.hbs
  backend/views/password_changed.hbs
  backend/views/reset_password.hbs
  backend/yarn.lock
Due: yarn lint:backend, yarn testBE:staged

feat: add github pr template
  backend/.gitub/PULL_REQUEST_TEMPLATE.md
Due: none

fix: remove comments and tests
  backend/src/application/auth/auth.service.ts
  backend/src/application/booking-managers/booking-managers.spec.ts
  backend/src/application/booking-managers/mocks/BookingManagerRepositoryStub.ts
  backend/src/application/booking-managers/mocks/factories.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add repository and domain for schedules creation
  backend/src/domain/entities/schedules.entity copy.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/entities/schedules-db.entity.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add create schedule feature
  backend/src/app.module.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/schedules/dtos/create-schedule.dto.ts
  backend/src/application/schedules/schedules.module.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/application/shared/decorators/date-validator.decorator.ts
  backend/src/application/shared/decorators/time-validator.decorator.ts
  backend/src/domain/entities/schedules.entity copy.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/database.module.ts
  backend/src/infra/database/prisma/repositories/booking-managers-db.repository.ts
  backend/src/infra/database/typeorm/entities/schedules-db.entity.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/infra/database/typeorm/typeorm.service.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: remove console log
  backend/src/presentation/http/controllers/auth.controller.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: move github folder
  .gitub/PULL_REQUEST_TEMPLATE.md
Due: none

feat: create validator that validates if username is a valid value
  backend/src/application/booking-managers/dtos/create-manager-dto.ts
  backend/src/application/shared/decorators/username-validator.decorator.ts
Due: yarn lint:backend, yarn testBE:staged

feat: list schedules available for a manager's username
  backend/src/app.module.ts
  backend/src/application/booking-managers/booking-managers.service.ts
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/application/public-routes/public-routes.module.ts
  backend/src/application/schedules/schedules.service.ts
  backend/src/application/shared/utils/objectFormatter.ts
  backend/src/domain/repositories/schedules.repository.ts
  backend/src/infra/database/typeorm/repositories/schedules-db.repository.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
  backend/src/presentation/http/controllers/schedules.controller.ts
Due: yarn lint:backend, yarn testBE:staged

fix: remove useless data
  backend/src/application/public-routes/available-dates.service.ts
  backend/src/presentation/http/controllers/public-routes.controller.ts
Due: yarn lint:backend, yarn testBE:staged

feat: add feactory for errors and parse class-validator exceptions to the current format
  backend/src/main.ts
  backend/src/presentation/errors/exceptions/class-validator-factory.exception.ts
Due: yarn lint:backend, yarn testBE:staged

Path conditions:
  yarn lint:backend: any of: ./backend/**/*.ts
  yarn testBE:staged: any of: ./backend/**/*.ts
  yarn testFE:staged: any of: ./frontend/**/*.ts
